{% extends "master.html" %}

{% block main %}
<ul id="main">
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="overall" data-view="Text" data-title="All Systems" data-text="Unknown"></div>
  </li>
  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
    <div data-id="lettuce" data-view="List" data-title="System Status"></div>
  </li>
  <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
    <div data-id="celery" data-view="List" data-title="System Status"></div>
  </li>
  <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
    <div data-id="mushroom" data-view="List" data-title="System Status"></div>
  </li>
  <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
    <div data-id="eggplant" data-view="List" data-title="System Status"></div>
  </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="lettuce-projecto" data-view="List" data-title="System Status" data-text="Unknown"></div>
  </li>
  </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
    <div data-id="T420" data-view="List" data-title="System Status" data-text="Unknown"></div>
  </li>
  </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
    <div data-id="W530" data-view="List" data-title="System Status" data-text="Unknown"></div>
  </li>
  <li data-row="2" data-col="4" data-sizex="2" data-sizey="1">
    <div data-view="Clock"></div>
    <i class="icon-time icon-background"></i>
  </li>
</ul>
{% endblock %}
